<p>
  <span style="font-size: 14px;"
    ><strong><span style="font-size: 18px;">Chief Instructor </span></strong></span
  ><span style="font-size: 14px;"
    ><strong><span style="font-size: 18px;">Stephen Starnes</span></strong></span
  >
</p>
<p>
  <span style="font-size: 18px;"><b>8th </b>Degree Black Belt </span>
</p>
<p><span style="font-size: 18px;">(American Karate/ Tae Kwon Do)</span></p>
<p><span style="font-size: 18px;">1st Degree Black Belt (Kobudo weapons)</span></p>
<p><strong></strong></p>
<p>
  <img
    style="width: 184px; height: 239px;"
    border="0"
    src="/xml/wfxdirect/res;jsessionid=7E4EE889CEA1D8DE088F40A887F4D22E.TC2a?name=DSC_0046r8x10t.jpg&type=image"
    width="184"
    height="239"
    wfxsrc="DSC_0046r8x10t.jpg"
    wfxtype="resource"
  />
</p>
<p>
  <strong
    ><span style="font-size: 12px;"
      >Stephen began training in the Martial Arts at age 7 in Shin-Toshi Karate in 1985 and received
      his gold belt. In 1987 at age 9 he started training in American Karate with Mr. Darrel Sanders
      at North Texas Karate in Bridgeport , Texas. Stephen recieved his 1st degree black belt at age
      12. Stephen taught karate throughout his teenage years for Mr. Sanders. Presently, Stephen is
      continuing to train under Mr. Billy Smith 10th degree black belt in South Ft.Worth.
    </span></strong
  >
</p>
<p>
  <strong
    ><span style="font-size: 12px;">7th Degree Black Belt Promotion Jan. 26th 2013</span></strong
  >
</p>
<p>
  <span style="font-size: 12px;"
    ><strong>6th Degree Black Belt Promotion March 23rd 2009 </strong></span
  >
</p>
<span style="font-size: 12px;"><strong></strong></span>
<p />
<p>
  <span style="font-size: 12px;"
    >M<span style="font-size: 18px;"
      >r. Darrell Sanders is Mr. Stephen Starnes Instructor</span
    ></span
  >
</p>
<p>
  <span style="font-size: 12px;"
    ><img
      style="width: 261px; height: 296px;"
      border="0"
      src="/xml/wfxdirect/res;jsessionid=7E4EE889CEA1D8DE088F40A887F4D22E.TC2a?name=Mr.+Sanders.jpg&type=image"
      width="261"
      height="296"
      wfxsrc="Mr. Sanders.jpg"
      wfxtype="resource"
  /></span>
</p>
<p>
  <span style="font-size: 12px;"><strong> </strong></span>
</p>
<p>
  <span style="font-size: 12px;"
    ><strong
      >Grandmaster 10th Dan Black Belt J. Pat Burleson (
      <a
        href="/xml/wfxdirect/preview;jsessionid=7E4EE889CEA1D8DE088F40A887F4D22E.TC2a?page=2&mode=preview"
        wfxsrc="2"
        wfxtype="page"
        >wmara.net </a
      >)</strong
    ></span
  >
</p>
<p>
  <span style="font-size: 12px;"
    ><strong>Grandmaster 10th Dan Black Belt Billy Brammer, </strong></span
  >
</p>
<p>
  <span style="font-size: 12px;"
    ><strong
      >Grandmaster 10th Dan Black Belt Billy Smith, ( Billy Smith American Karate )</strong
    ></span
  >
</p>
<p>
  <span style="font-size: 12px;"
    ><strong
      >Grandmaster 10th Dan Black Belt Keith D. Yates (
      <a
        href="/xml/wfxdirect/preview;jsessionid=7E4EE889CEA1D8DE088F40A887F4D22E.TC2a?page=2&mode=preview"
        wfxsrc="2"
        wfxtype="page"
        >akato.org </a
      >) (
      <a
        href="/xml/wfxdirect/preview;jsessionid=7E4EE889CEA1D8DE088F40A887F4D22E.TC2a?page=2&mode=preview"
        wfxsrc="2"
        wfxtype="page"
        >akbba.com </a
      >)</strong
    ></span
  >
</p>
<p>
  <span style="font-size: 12px;"
    ><strong> Grandmaster 10th Dan Black Belt Steve Parks, </strong></span
  >
</p>
<p>
  <span style="font-size: 12px;"><strong>10th Grand Master Jon Anderson, </strong></span>
</p>
<p><br /></p>
<p />
<p>
  <strong><span style="font-size: 14px;">Alisha Meves Starnes- 4th</span></strong
  ><strong><span style="font-size: 14px;"> Degree Black Belt</span></strong>
</p>
<p>
  <strong></strong
  ><strong
    ><span style="font-size: 14px;"
      ><img
        style="width: 240px; height: 302px;"
        border="0"
        src="/xml/wfxdirect/res;jsessionid=7E4EE889CEA1D8DE088F40A887F4D22E.TC2a?name=alisha.jpg&type=image"
        width="240"
        height="302"
        wfxsrc="alisha.jpg"
        wfxtype="resource"/></span
  ></strong>
</p>
<p>
  <img
    src="/xml/wfxdirect/httpproxy;jsessionid=7E4EE889CEA1D8DE088F40A887F4D22E.TC2a?url=https%3A%2F%2Fwebsitebuilder.1and1.com%2Fresource%2Fstatic%2Fimage%2Fblank.gif&sign=0d27f721d10023e3feaa239b86aba00e"
  />
</p>
<p>
  <img
    src="/xml/wfxdirect/httpproxy;jsessionid=7E4EE889CEA1D8DE088F40A887F4D22E.TC2a?url=https%3A%2F%2Fwebsitebuilder.1and1.com%2Fresource%2Fstatic%2Fimage%2Fblank.gif&sign=0d27f721d10023e3feaa239b86aba00e"
  />
</p>
<p><br /></p>
